<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Stephan Putzke</string>
	<key>Builder Version</key>
	<string>6534.52.7</string>
	<key>CFBundleDisplayName</key>
	<string>Open in Super OTR</string>
	<key>CFBundleIdentifier</key>
	<string>com.apfel-a.safari.openinsuperotr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>openInSuperOTRMenu</string>
				<key>Identifier</key>
				<string>openInSuperOTRMenu</string>
				<key>Title</key>
				<string>Open page in Super OTR</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>openLinkInSuperOTR</string>
				<key>Identifier</key>
				<string>openLinkInSuperOTR</string>
				<key>Title</key>
				<string>Open link in Super OTR</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Open the current page in Papers</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/stephan233/OpenInSuperOTR</string>
</dict>
</plist>
